@model List<Post>

@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="text-centers">Dashboard</h1>

@foreach (Post post in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between">

                <div class="w-100 h-100 mr-4">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" style="height: 70px; width: 70px" src="https://thamesvalleypartnership.org.uk/wp-content/uploads/2020/10/no-photo-400x400.jpg" alt="">
                        <h4 class="ml-3">@post.PostUser.FirstName @post.PostUser.LastName</h4>
                        <h4 class="ml-3">@post.PostAlbum.Name - @post.PostAlbum.AlbumArtist.Name</h4>
                        <h4 class="ml-3">Rating: @post.AlbumRatingNumber/5</h4>
                    </div>
                    <div class="border border-dark style-solid mt-3" style="height: 70px;">
                        <p>@post.Content</p>
                    </div>
                </div>
                <div>
                    <img style="height: 200px; width: 200px" src="@post.PostAlbum.Image" alt="Album Img">
                </div>
            </div>
            @{
                Comment emptyComment = new Comment();
                emptyComment.PostId = post.PostId;

                Like emptyLike = new Like();
                emptyLike.PostId = post.PostId;

                int loggedInUserId = (int)Context.Session.GetInt32("UserId");
                bool hasUserLikedPostAlready = post.Likes.Any(like => like.UserId == loggedInUserId);
                string likeButtonText = hasUserLikedPostAlready ? "Unlike" : "Like";
            }
            <div class="d-flex justify-content-between mt-2">
                <div class="d-flex">
                    <form asp-action="Like" asp-controller="Post" asp-route-postId="@post.PostId">
                        <input type="submit" value="@likeButtonText">
                    </form>
                    <span class="ml-2">@post.Likes.Count()</span>
                </div>
                <div>
                    <a asp-action="ViewComments" asp-controller="Post" asp-route-postId="@post.PostId">View Comments (@post.Comments.Count())</a>
                </div>
            </div>
            <partial name="_CommentForm" model="@emptyComment"></partial>
        </div>
    </div>
}
