@model Artist

@{
    ViewData["Title"] = @Model.Name;
}

<h1 class="text-center mb-2">@Model.Name</h1>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Name's Albums</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Album Name</th>
                    <th>Average Rating</th>
                    <th>Release Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Album album in Model.Albums)
                {
                    <tr>
                        <td>
                            <a asp-controller="Album" asp-action="Details" asp-route-albumId="@album.AlbumId">@album.Name</a>
                        </td>
                        <td>@album.AverageRating</td>
                        <td>@album.DisplayReleaseDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>